@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: 'Outfit', sans-serif;
}

nav.menu-lateral {
  width: 250px;
  background-color: #015ac0;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li.itens-menu {
  width: 100%;
  margin-bottom: 20px;
}

ul li.itens-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  transition: 0.3s;
}

ul li.itens-menu a:hover {
  background-color: #013f8a;
  border-radius: 8px;
}

footer {
  justify-content: center;
  align-items: center;
  background-color: #015ac0;
  color: #fff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}