.page-container {
    background-color: #e6d7fa;
}

.main-header {
    width: 100%;
    background-color: #3D2364;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 100px;
    object-fit: contain;
    user-select: none;
}

.welcome-text {
    text-align: center;
    color: #3D2364;
    margin-bottom: 20px;
    font-weight: 500;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.byjuh-card {
    display: flex;
    border-radius: 15px;
    background-color: #Ffff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.byjuh-card:hover {
    transform: translateY(-3px);
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-text {
    flex: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text h2 {
    color: #3D2364;
    margin-bottom: 8px;
    font-size: 20px;

}

.card-text p {
    color: #080808;
    font-size: 17px;
    line-height: 1.4;
    margin: 0;
}

.formation-card {
    margin-top: 30px;
    margin-bottom: 40px;
}

.formation-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.formation-card .card-image {
    flex: 1;
    max-width: 45%;
    overflow: hidden;
}

.formation-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.formation-card:hover .card-image img {
    transform: scale(1.05);
}

.section-title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #3D2364;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-title .formation-card {
    flex-direction: row-reverse;
}

.formation-card .card-text {
    flex: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formation-card .card-text h2 {
    color: #3D2364;
    margin-bottom: 10px;
    font-size: 20px;
}

.formation-card .card-text p {
    color: #080808;
    font-size: 17px;
    line-height: 1.4;
    margin: 0;

}

.simple-carousel-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

.carousel-title {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3D2364;
    margin-bottom: 20px;
}

.simple-carousel {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel-item {
    flex: 0 0 18%;
    /* 5 imagens visíveis */
    border-radius: 15px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cards-section-wrapper {
    margin: 80px 0 50px 0;
    text-align: center;
}

.cards-title {
    font-size: 28px;
    font-weight: bold;
    color: #3D2364;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cards-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.flip-card-front {
    position: relative;
}

.graph-source {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    background-color: #3D2364;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.cards-motivation {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #3D2364;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* CONTAINER DOS CARDS */

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}


/* CARD */

.card {
    width: 300px;
    height: 380px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}


/* FACES DO CARD */

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* FRENTE */

.card-front {
    padding: 10px;
}

.grafico {
    width: 100%;
    border-radius: 15px;
    transition: transform .3s ease;
}

.grafico:hover {
    transform: scale(1.04);
}

.fonte {
    position: absolute;
    bottom: 10px;
    right: 12px;
    font-size: 12px;
    color: #555;
}


/* VERSO */

.card-back {
    transform: rotateY(180deg);
    padding: 20px;
    text-align: center;
}

.apenas {
    font-size: 14px;
    color: #444;
}

.porcentagem {
    font-size: 70px;
    font-weight: bold;
    color: #3D2364;
    margin-top: -10px;
}

.descricao {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.equivalente {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* ============================
   RODAPÉ
============================ */
.footer {
    text-align: center;
    color: rgb(72, 98, 149);
    margin: 40px 0;
    font-size: 0.9rem;
}

/* =====================================================
   RESPONSIVIDADE GERAL
===================================================== */
/* 📱 RESPONSIVIDADE INCRÍVEL PARA CELULARES */
@media (max-width: 768px) {
    .byjuh-card {
        flex-direction: column;
        height: auto;

    }

    .card-text p {
        font-size: 20px;
        text-align: left;
    }

    .card-text h2 {
        font-size: 24px;

    }

    .formation-card .card-text p {
        font-size: 20px;
        text-align: left;
    }

    .formation-card .card-text h2 {
        font-size: 24px;

    }
    .formation-card .card-image {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .simple-carousel-wrapper {
        max-width: 100%;
        margin: 20px auto;
    }
    .carousel-item {
        flex: 0 0 40%;
    }
    .cards-section {
        flex-direction: column;
        align-items: center;
    }

}

/* 📲 RESPONSIVO PARA TELAS MUITO PEQUENAS (tipo celular pequeno) */
@media (max-width: 480px) {}